.panel {
  background: #1e242e;
  color: white;
  padding: 40px;
  border-radius: 40px;
  width: 360px;
  height: 300px;
  text-align: left;
}
.subPanel {
  background: #1e242e;
  color: white;
  padding: 40px;
  border-radius: 40px;
  width: 360px;
  height: 300px;
  text-align: center;
}
.subPanel > img {
  width: 50%;
}

.star {
  width: 30px;
  background-color: #277e3f;
  border-radius: 50%;
  padding: 10px;
}
.title {
  font-size: 30px;
  margin-bottom: 4px;
}
.description {
  color: grey;
  font-size: 14px;
}
.group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rating {
  background: #282e38;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}
.rating:hover {
  background: #7d8796;
}
.rating:focus {
  background: #fb7b19;
}
.submit {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 40px;
  background: #fb7b19;
  color: white;
}
.submit:hover {
  color: #fb7b19;
  background: white;
}
